body * {
  margin: 0;
  padding: 0;
  background: inherit;
  color: inherit;
}

body.enableCSS {
  font-family: Roboto, "Open Sans", Helvetica, Arial;
  background: #2b323f;
  color: white;
}

body.enableCSS .small {
  font-size: 75%;
}

body.enableCSS .d-flex {
  display: flex;
}

body.enableCSS .align-items-center {
  align-items: center;
}

body.enableCSS .justify-content-between {
  justify-content: space-between;
}

body.enableCSS .flex-column {
  flex-direction: column;
}

body.enableCSS h2 {
  margin: 20px auto;
}

body.enableCSS label {
  display: flex;
}

body.enableCSS .toggle-switch {
  position: relative;
}

body.enableCSS .toggle-switch input[type="checkbox"] {
  display: none;
}

body.enableCSS .toggle-switch .toggler {
  transition: 0.3s all ease-out;
  width: 24px;
  height: 16px;
  border: medium solid #ffffff;
  border-radius: 16px;
  background-color: "#ffffff26";
  position: relative;
}

body.enableCSS .toggle-switch .toggler:before {
  transition: 0.3s all ease-out;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translate(0, 25%);
}

body.enableCSS .toggle-switch .toggler-text {
  color: #ffffff;
}

body.enableCSS .toggle-switch input[type="checkbox"]:checked ~ .toggler {
  background-color: "#0ac97e26";
  border-color: #0ac97e;
}

body.enableCSS .toggle-switch input[type="checkbox"]:checked ~ .toggler:before {
  transform: translate(90%, 25%);
  background-color: #0ac97e;
}

body.enableCSS .toggle-switch input[type="checkbox"]:checked ~ .toggler-text {
  color: #0ac97e;
}

body.enableCSS .card {
  background-color: #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #2b323f;
  flex: 0 0 auto;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transition: all ease 0.5s;
}

body.enableCSS .card .img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

body.enableCSS .card h3 {
  font-size: 24px;
}

body.enableCSS .card p.small {
  font-size: 12px;
}

body.enableCSS .card .location {
  display: flex;
  flex-direction: column;
}

body.enableCSS .card .location p {
  display: flex;
  flex-direction: row;
}

body.enableCSS .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.enableCSS .toggle-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body.enableCSS .list-icon,
body.enableCSS .grid-icon {
  position: relative;
  margin: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

body.enableCSS .list-icon input[type="radio"],
body.enableCSS .grid-icon input[type="radio"] {
  display: none;
}

body.enableCSS .square-top:before, body.enableCSS .square-top:after,
body.enableCSS .square-bottom:before,
body.enableCSS .square-bottom:after {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
}

body.enableCSS .square-top:before {
  top: 0;
  left: 0;
}

body.enableCSS .square-top:after {
  top: 0;
  right: 0;
}

body.enableCSS .square-bottom:before {
  bottom: 0;
  left: 0;
}

body.enableCSS .square-bottom:after {
  bottom: 0;
  right: 0;
}

body.enableCSS .list-icon .rectangle {
  width: 100%;
  height: 4px;
  margin: 0;
  background-color: white;
}

body.enableCSS .list-icon .rectangle:before, body.enableCSS .list-icon .rectangle:after {
  content: "";
  width: 100%;
  height: 4px;
  position: relative;
  background: white;
  display: block;
}

body.enableCSS .list-icon .rectangle:before {
  margin-top: 8px;
}

body.enableCSS .list-icon .rectangle:after {
  margin: 5px 0;
}

body.enableCSS .list-icon input[type="radio"]:checked ~ .rectangle,
body.enableCSS .grid-icon input[type="radio"]:checked ~ .rectangle {
  background-color: #0ac97e;
}

body.enableCSS .list-icon input[type="radio"]:checked ~ .rectangle:before, body.enableCSS .list-icon input[type="radio"]:checked ~ .rectangle:after,
body.enableCSS .grid-icon input[type="radio"]:checked ~ .rectangle:before,
body.enableCSS .grid-icon input[type="radio"]:checked ~ .rectangle:after {
  background-color: #0ac97e;
}

body.enableCSS .list-icon input[type="radio"]:checked ~ .square-top:before, body.enableCSS .list-icon input[type="radio"]:checked ~ .square-top:after,
body.enableCSS .list-icon input[type="radio"]:checked ~ .square-bottom:before,
body.enableCSS .list-icon input[type="radio"]:checked ~ .square-bottom:after,
body.enableCSS .grid-icon input[type="radio"]:checked ~ .square-top:before,
body.enableCSS .grid-icon input[type="radio"]:checked ~ .square-top:after,
body.enableCSS .grid-icon input[type="radio"]:checked ~ .square-bottom:before,
body.enableCSS .grid-icon input[type="radio"]:checked ~ .square-bottom:after {
  background: #0ac97e;
}

body.enableCSS .content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

body.enableCSS .content.grid {
  flex-direction: row;
  flex-wrap: wrap;
}

body.enableCSS .content.grid .location {
  display: none;
  position: absolute;
}

body.enableCSS .content.grid .card {
  width: 250px;
  text-align: center;
  flex-direction: column;
  margin: 15px;
}

body.enableCSS .content.grid .card .img {
  margin: auto;
}

body.enableCSS .content.grid .card:hover {
  z-index: 10;
  background-color: #fafafa;
  transform: scale(1.04);
}

body.enableCSS .content.grid .card:hover .location {
  display: flex;
  justify-content: space-around;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  flex-direction: row;
  padding: 15px;
}

body.enableCSS .content.grid .card:hover .location p {
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
